@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #f6f7f8:
}

#column-2 {
  background: #f7c59f;
}

#column-3 {
  background: #ff6b35;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #ffffff;
  }

  #column-1 {
    background-color: #aeb8fe;
  }

  #column-2 {
    background-color: #758bfd;
  }

  #column-3 {
    background-color: #27187e;
  }

  footer {
    background-color: #ffffff;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #ffffff;
  }

  #column-1 {
    background-color: #b7efc5;
  }

  #column-2 {
    background-color: #2dc653;
  }

  #column-3 {
    background-color: #10451d;
  }

  footer {
    background-color: #ffffff;
  }
   
}
